.i1{
	text-decoration: blue wavy underline;
}
.i2{
	text-decoration: underline dotted green;
}
.i3{
	text-decoration: dashed underline  green;
}
.i4{
	text-decoration: double underline  red;
}

