.prim1{
	white-space: nowrap;
	text-overflow: clip;
	border: 1px solid black;
	overflow:hidden;
}
.prim1:hover{
	white-space:normal;
	text-overflow: clip;
	border: 1px solid black;
	overflow:visible;	
}