.container{

      display: grid;
      grid-template-areas: 
             'header header header'
             'sidebar content content'
             'footer footer footer';
grid-template-columns: 1fr 2fr 1fr;
grid-template-rows:1fr 3fr 1fr ;



}
.header {
grid-area: header;  
}
.footer { 
grid-area:footer;
}
.content {
grid-area:content;
}
.sidebar {
   grid-area:sidebar ;
}
.ss {
   padding: 55px;
border: 1px solid black;

  
}